.add-task-form__controls {
    display: flex;
    flex-direction: column;

    overflow: auto;
}

.add-task-form__option {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 50px;

    padding-left: 50px;

    text-transform: capitalize;
    word-wrap: break-word;
}

.add-task-form__option-title {
    max-width: 100%;
    word-wrap: break-word;
}

.add-task-form__option-hidden-input {
    display: none;
}

.add-task-form__option-radio-btn {
    position: absolute;
    top: inherit;
    left: 0;

    display: block;

    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.add-task-form__option-radio-btn:after {
    content: "";
    position: absolute;
    display: none;
}

.add-task-form__option-hidden-input:checked~.add-task-form__option-radio-btn:after {
    display: block;
}

.add-task-form__option-radio-btn:after {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid white;
}