.create-list-form {
    display: flex;
    flex-direction: column;

    height: calc(100vh - 50px);
    padding: 20px;
}

.create-list-form__link {
    position: relative;

    display: block;
    width: 30px;
    height: 30px;

    font-size: 2rem;
    color: var(--mainGrey);
}

.create-list-form__link::after {
    content: "";
    position: absolute;
    top: 14px;

    width: 20px;
    border-top: 1px solid var(--mainGrey);
}

.create-list-form__link::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;

    height: 8px;
    width: 8px;
    border: solid var(--mainGrey);
    border-width: 1px 0px 0px 1px;

    transform: rotate(-45deg);
}

.create-list-form__title {
    padding: 20px 0 20px 0;

    font-size: 2rem;
    font-weight: 600;
}

.create-list-form__input {
    min-height: 50px;
    width: 100%;

    border-bottom: 1px solid var(--secondaryGrey);

    font-size: 1.3rem;
    outline: none;
}

.create-list-form__controls {
    padding-top: 20px;
    flex: 1;
}

.create-list-form__option-title {
    padding: 10px 0 10px 0;

    font-size: 1.3rem;
    font-weight: 500;
}

.create-list-form__color-picker-input {
    width: 35px;
    height: 35px;
    background: transparent;
}

.create-list-form__icon-dropbtn {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    padding-bottom: 10px;
    font-size: 1.5rem;

    background: transparent;

}

.create-list-form__selected-icon {
    width: 30px;
    height: 30px;
}

.create-list-form__icon-dropbtn-span {
    width: 10px;
    height: 10px;
    margin-left: 10px;

    border: solid black;
    border-width: 0 2px 2px 0;
    transition: 0.3s
}

.create-list-form__icon-dropdown {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));

    max-width: 300px;
    height: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.08s;
}


.create-list-form__icon-dropdown-show {
    height: auto;
    transform: scaleY(1);
}

.create-list-form__icon-dropdown-item {
    height: 50px;
    font-size: 1.5rem;
}

.create-list-form__save-btn {
    position: fixed;
    bottom: 0;
    left: 0;

    min-height: 50px;
    width: 100%;
    border-top: 1px solid var(--secondaryGrey);
    background: white;

    font-weight: 600;
    text-transform: uppercase;
}

.create-list-form__save-btn:disabled {
    opacity: 0.5;
}

.create-list-form__save-btn-icon {
    margin-right: 15px;
}

@media screen and (min-width: 700px) {
    .create-list-form__controls {
        flex: none;
        padding-bottom: 20px;
    }

    .create-list-form__save-btn {
        position: static;

        width: 150px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        background: var(--saveBtnGreen);

        color: white;
    }
}