.to-do-container {
    padding: 20px;
}

.lists-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-bottom: 20px;
}

.lists-container li {
    list-style: none;
    height: 150px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.list-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 20px;
}

.list-icon {
    font-size: 1.3rem;
    flex: 2;
}

.list-title {
    text-transform: capitalize;
    font-weight: 500;
    flex: 1;
    margin-bottom: 10px;
}

.list-tasks-amount {
    color: grey;
    flex: 1;
}

.btn-create {
    box-shadow: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-create a {
    width: 70px;
    line-height: 60px;
    display: block;
    text-align: center;
    background: #1ADB7A;
    color: white;
    text-decoration: none;
    border-radius: 7px;
}

@media screen and (min-width: 768px) {}