.single-list-container {
    padding: 20px 20px 20px 5px;
}

.single-list-container .link-back {
    padding-left: 15px;
}

.single-list-container header {
    display: flex;
}

.list-header div {
    margin-left: 20px;
}

.list-header h1 {
    text-transform: capitalize;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.list-header h2 {
    color: var(--mainGrey);
    font-weight: 500;
    font-size: 1.2rem;
}

.add-task-btn {
    display: flex;
    align-items: center;
    height: 70px;
    text-decoration: none;
    color: var(--secondaryGrey);
    padding-left: 15px;
}

.add-task-btn div {
    width: 25px;
    height: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 5px;
    margin-right: 35px;
}

.single-list {
    padding-left: 15px;
}

.single-list li {
    list-style: none;
}