.single-list__task {
    display: flex;
    align-items: center;

    padding: 20px 0 20px 0;
    border-bottom: 1px solid var(--secondaryGrey);
}


.single-list__task-hidden-input {
    display: none;
}

.single-list__task-label {
    position: relative;

    display: flex;
    align-items: center;

    width: calc(100% - 70px);
    padding: 0 10px 0 55px;
}

.single-list__task-hidden-input:checked~.single-list__task-checkmark {
    border: none;
}

.single-list__task-checkmark {
    position: absolute;
    top: inherit;
    left: 0;

    display: block;

    height: 24px;
    width: 24px;

    border: 1px solid var(--secondaryGrey);
    border-radius: 5px;
}

.single-list__task-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.single-list__task-hidden-input:checked~.single-list__task-checkmark:after {
    display: block;
}

.single-list__task-checkmark:after {
    left: 9px;
    top: 3px;

    width: 5px;
    height: 11px;
    border: solid green;
    border-width: 0 2px 2px 0;

    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.single-list__task-menu {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 70px;
}

.single-list__task-menu-btn {
    color: black;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background: transparent;
    width: 100%;
    outline: none;
}

.single-list__task-menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.single-list__task-menu-content-show {
    display: flex;
    flex-direction: column;
    top: 20px;
}

.single-list__task-delete {
    padding: 12px 16px;
    background: transparent;
    cursor: pointer;
}

.single-list__task-edit {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
}